# Compilation dependencies
generator/*.d
validator/*.d
checker/*.d

# Compilation logs
generator/*.compile.log
validator/*.compile.log
checker/*.compile.log

# Compilation executables
generator/*.exe
validator/*.exe
checker/*.exe
checker/checker

# Testcases
testcases/*
!testcases/hash.json

# Logs
logs/

# Sandbox
sandbox/