# Build binaries, artifacts, and logs
problems/**/generator/build
problems/**/validator/build
problems/**/checker/build
problems/**/interactor/build
problems/**/manager/build
problems/**/public/*.zip

# Testcases
problems/**/testcases/*
!problems/**/testcases/hash.json

# Logs
problems/**/logs/

# Sandbox
problems/**/sandbox/
