# Compilation dependencies
generator/*.d
validator/*.d
checker/*.d
interactor/*.d

# Compilation logs
generator/*.compile.log
validator/*.compile.log
checker/*.compile.log

# Compilation executables
generator/*.exe
validator/*.exe
checker/*.exe
checker/checker
interactor/*.exe
interactor/interactor

# Testcases
testcases/

# Logs
logs/

# Sandbox
sandbox/